{% extends "_base.html" %}
{% load widget_tweaks %}

{% block title %}Log In{% endblock  %}

{% block content %}
<section class="flex flex-col items-center justify-center min-h-full">
    <form method="post" class="bg-white rounded-xl p-5 w-full max-w-md shadow-xl" novalidate>
        <h2 class="text-4xl text-center pb-5">Log In</h2>
        {% csrf_token %}
        {% include "partials/_form.html" %}
        <a href="url" class="hover:text-blue-600">Forgot your password?</a>
        <button type="submit" class="bg-blue-500 text-white p-2 mt-2 w-full rounded-lg hover:ring-2">Log In</button>
    </form>
</section>
{% endblock  %}