{% extends "_base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Change Password" %}
{% endblock title %}
{% block content %}
<section class="flex flex-col items-center justify-center min-h-full">
    <div class="bg-white rounded-xl p-5  w-full max-w-md md:max-w-xl shadow-xl m-4">
        <h1 class="text-center text-4xl mb-4">{% trans "Change Password" %}</h1>
        <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        <a href="{% url "hello:index" %}" class="bg-blue-500 text-white p-2 mt-2 w-full rounded-lg hover:ring-2 text-center block">
            Go Home
        </a>
    </div>
</section>
{% endblock content %}
