{% load widget_tweaks %}


{% for error in form.non_field_errors %}
    <div role="alert">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
        Danger
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mb-3 text-red-700">
        <p>{{ error|escape }}</p>
        </div>
    </div>
{% endfor %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        {% if field.errors %}
            {{ field|add_class:"shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
        {% else %}
            {{ field|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
        {% endif %}        
        {% for error in field.errors %}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}
