{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Hello Django!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
  </head>
  <body class="flex flex-col h-screen">
    <header>
      {% include "partials/_navbar.html" %}
      {% include "partials/_message.html" %}
    </header>
    <main class="flex-1 bg-blue-200 p-3">
      {% block content %}{% endblock %}
    </main>
    <footer class="h-16 flex items-center justify-center bg-gray-800 text-white">
      <div>&copy; 2025 Gripweed Consulting LLC</div>
    </footer>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
