{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Hello Django!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav class="bg-gray-900 text-white h-16 flex items-center px-6 shadow-lg">
        <div class="container mx-auto flex justify-between items-center w-full">
          <div class="text-xl font-bold">Hello Django</div>

          <!-- Mobile Menu Button -->
          <button id="hamburger" class="md:hidden flex flex-col focus:outline-none">
            <span class="hamburger line-1"></span>
            <span class="hamburger line-2"></span>
            <span class="hamburger line-3"></span>
          </button>

          <!-- Unified Nav Links -->
          <ul id="nav-links" class="hidden md:flex md:flex-row md:space-x-6 absolute md:static top-16 left-0 w-full bg-gray-900 md:bg-transparent p-6 md:p-0 flex-col space-y-4 md:space-y-0 transition-all duration-300">
            <li><a href="{% url "hello:index" %}" class="hover:text-gray-400">Home</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer></footer>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
